{% extends 'base.html.twig' %}

{% block title %}Edit Lego{% endblock %}

{% block body %}
    <h1>Edit Lego</h1>

    {{ include('lego/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lego_index') }}">back to list</a>

    {{ include('lego/_delete_form.html.twig') }}
{% endblock %}
