{% extends 'base.html.twig' %}

{% block title %}New Lego{% endblock %}

{% block body %}
    <h1>Create new Lego</h1>

    {{ include('lego/_form.html.twig') }}

    <a href="{{ path('app_lego_index') }}">back to list</a>
{% endblock %}
